.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

body{
background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/023/673/original/detective2.png?1640670644); 
backdrop-filter: blur(3px);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
  color: black;
}

.App-header{
  margin: 30px 0;
}

.App-footer{
  text-align: center;
  margin: 30px 0;
  color: black;
}

.App-footer a{
  color: magenta;
}

.App-footer a:hover{
  color: mediumspringgreen;
}